body {
  font-family: "Arial", sans-serif;
  background-color: #0a0f24;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1,
h2,
label {
  color: #00bcd4;
}

form {
  background-color: #1c2541;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 188, 212, 0.5);
}

input,
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

input {
  background-color: #3a506b;
  color: #ffffff;
}

button {
  background-color: #00bcd4;
  color: #0a0f24;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0288d1;
}

.error,
.success {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.error {
  background-color: #f44336;
  color: #ffffff;
}

.success {
  background-color: #4caf50;
  color: #ffffff;
}
