<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #0a0f24;
        color: #ffffff;
        margin: 0;
        padding: 0;
      }

      header {
        background-color: #1a1a1a;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      header h1 {
        margin: 0;
        font-size: 2em;
        flex: 1;
        text-align: center;
      }

      nav {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      nav.left {
        justify-content: flex-start;
      }

      nav.right {
        justify-content: flex-end;
      }

      nav a {
        color: #ffffff;
        padding: 15px 20px;
        text-decoration: none;
        transition: background-color 0.2s ease-in-out;
      }

      nav a:hover {
        background-color: #575757;
      }

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        min-height: calc(
          100vh - 120px
        ); /* Adjust for header and footer height */
        text-align: center;
      }

      .welcome-message {
        margin-bottom: 20px;
      }

      .button-container {
        display: flex;
        gap: 10px; /* Space between buttons */
        margin-bottom: 15px;
      }

      button {
        width: 150px; /* Fixed button width */
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out; /* Smooth hover effect */
      }

      .button-container button:nth-child(1) {
        background-color: #00bcd4; /* Blue button */
        color: #0a0f24;
      }

      .button-container button:nth-child(1):hover {
        background-color: #0288d1;
      }

      .button-container button:nth-child(2) {
        background-color: #4caf50; /* Green button */
        color: #ffffff;
      }

      .button-container button:nth-child(2):hover {
        background-color: #388e3c;
      }

      footer {
        background-color: #1a1a1a;
        color: #ffffff;
        text-align: center;
        padding: 10px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="left">
        <a href="/">Inicio</a>
        <a href="/about">Acerca de</a>
        <a href="/contact">Contacto</a>
      </nav>
      <h1>Bienvenido</h1>
      <nav class="right">
        <% if (user) { %>
        <a href="/logout">Logout</a>
        <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <% } %>
      </nav>
    </header>
    <div class="container">
      <div class="welcome-message">
        <% if (user) { %>
        <p>Hola, <%= user.username %>!</p>
        <% } else { %>
        <p>
          Bienvenido a nuestra aplicación. Por favor, regístrate o inicia
          sesión.
        </p>
        <% } %>
      </div>
      <% if (user) { %>
      <div class="button-container">
        <a href="/logout"><button>Logout</button></a>
        <a href="/register-device"><button>Registrar un Dispositivo</button></a>
      </div>
      <% } else { %>
      <div class="button-container">
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
      </div>
      <% } %>
    </div>
    <footer>
      <p>&copy; 2024 Tu Compañía. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
